@import '~highlight.js/styles/github.css';
:root {
  font-size: 100%;
}

* {
  line-height: 1.5em;
  box-sizing: border-box;
}

h1 {
  margin: 0 0.5em;
}

.markdown-viewer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}

.markdown-editor {
  display: flex;
  justify-content: space-between;
  flex: 1;

  .markdown-body, textarea {
    flex: 1;
    margin: 0.5em;
    padding: 0.5em;
    outline: none;
    border: 1px solid #0a0202;
  }
}
